@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

$img-spinner-time: .9s;

.stories {
  display: flex;
  background: red;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 31px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 3;

    &.loading {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9E9E9E;
      color: white;

      svg {
        width: 21px;
        height: 21px;
        animation: spinner-loading linear $img-spinner-time infinite;
      }
    }
  }

  &.new {
    .story__img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92px;
      height: 92px;
      position: relative;


      &:before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #A6328D;
        border-radius: 50%;
        transform: scale(1);

        transition: all .5s;
      }

      &:hover {
        &:before {
          transform: scale(.9);
          transition: all .2s;
        }
      }
    }
  }

  &__name {
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #000000;
  }
}

