<div class="container">
    <a href="#" class="logo" @click.prevent="logoClick">
        <icon name="logo" />
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="#" class="menu__link" @click.prevent="homeClick">
                    <icon name="home" />
                </a>
            </li>
            <li class="menu__item profile" >
                <a href="#" class="menu__link" @click.prevent="profileClick">
                    <img src="../../assets/img/Photo.png" alt="profile-img" class="profile-img">
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link" @click.prevent="logoutClick">
                    <icon name="logout" />
                </a>
            </li>
        </ul>
    </nav>
</div>
