<a href="#" class="logo">
    <img src="../../assets/logo/logo.svg" alt="logo" class="logo__img">
</a>
<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a href="#" class="menu__link">
                <icon name="home"/>
            </a>
        </li>
        <li class="menu__item profile">
            <a href="#" class="menu__link">
                <img src="../../assets/img/Photo.png" alt="profile-img" class="profile-img">
            </a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                <icon name="logout" />
<!--                <img src="../../assets/icons/logout.svg" alt="logout">-->
            </a>
        </li>
    </ul>
</nav>
