@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin menu-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

$img-spinner-time: .8s;

.menu {
  width: 145px;
  padding: 0 4px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &.profile {
      .menu__link {
        @include menu-link;

        &:before {
          cursor: pointer;
          content: "";
          position: absolute;
          border-radius: 50%;
          width: 0;
          height: 0;
          border: 2px solid transparent;
          transition: width .4s, height .4s, border-bottom-color .2s, border-left-color .2s, border-top-color .2s,
          border-right-color .2s;
        }

        &:hover {
          &:before {
            border: 2px solid #A6328D;
            width: 100%;
            height: 37px;
            transition: all .4s;
          }
        }
      }

      .profile__loading {
        @include menu-link;

        svg {
          height: 37px;
          width: 37px;
        }
      }
    }
  }

  &__img {
    width: 32px;
  }

  &__link {
    height: 37px;

    svg {
      height: 37px;
      width: 37px;
    }
    &:hover {
      color: #575555;

      svg {
        transform: scale(1.1, 1.1);
      }
    }

    .profile__img {
      width: 37px;
      height: 37px;
      border-radius: 50%;
    }


  }

  .profile {
    &__loading {
    animation: spinner-loading $img-spinner-time linear infinite;
    }
  }
}
