.issues {
  margin: 18px 0 10px;

  &__content {
    &.loaded {
      margin-top: 10px;
    }
  }
}

.toggler {
  display: flex;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #292929;
  }

  &.show {
    .toggler__arrow {
      transform: rotate(180deg);
    }
  }
}
