<div class="issues">
    <toggler
        @toggle="hideShow"
        :do-not-change="issues.loading"
    />

    <div class="issues__content" v-if="isShow">
        <div v-if="issues.loading && currentIssues">
            <placeholder :amount="1" />
        </div>
        <div v-else-if="issues.error">{{issues.error}}</div>

        <ul v-else
            class="issues__content loaded"
        >
            <issue
                    v-for="i in checkStateByRepo(frameworkName)"
                    :key="i"
                    :username="i.user.login"
                    :issue="i.title"
            />
        </ul>
    </div>
</div>
