$storyHeaderHeight: 67px;
$storyFooterHeight: 100px;
$loading-speed: .8s;

@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.story-container {
  position: relative;
}

.story {
  width: 376px;
  height: 667px;
  overflow: hidden;
  border-radius: 8px;
  background: #FFFFFF;
  opacity: .3;


  & > * {
    user-select: none;
  }

  .button {
    pointer-events: none;
  }

  &-container {
    transform: scale(0.8);
    transition: all .3s;
  }

  &-container.active {
    transform: scale(1);
    transition: all .3s;
  }

  &.active {
    opacity: 1;
    transition: all .5s;

    & > * {
      user-select: all;
    }

    .button {
      pointer-events: all;
    }

    .story__desc {
      padding:0 15px 24px 18px;
      overflow: auto;
    }
  }

  &__header {
    padding: 8px 12px 13px 12px;
    position: sticky;
    top: 0;
    width: 100%;
    height: $storyHeaderHeight;
    border-bottom: 1px solid #CACACA;

    .avatar-component {
      margin-top: 12px;
    }
  }

  &__desc {
    padding:0 25px 24px 18px;
    overflow: hidden;

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & > svg {
        color: #31AE54;
        width: 62px;
        height: 62px;

        animation: spinner-loading linear $loading-speed infinite;
      }
    }

    .story__text:not(:first-child) {
      margin-top: 14px;
    }
  }

  &__desc {
    height: calc(100% - #{$storyHeaderHeight} - #{$storyFooterHeight});
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $storyFooterHeight;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #CACACA;
  }
}

.btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  $btn-margin: -50px;

  & > svg {
    width: 44px;
    height: 44px;
    color: #404040;
    transition: color .4s;

    &:hover {
      color: #31AE54;
      transform: scale(1.1);

      transition: color .6s;
    }
  }

  &-prev {
    left: $btn-margin;
  }

  &-next {
    right: $btn-margin;

    & > svg {
      transform: rotate(180deg);

      &:hover {
        transform: scale(1.1) rotate(180deg);
      }
    }
  }
}
