$storyHeaderHeight: 67px;
$storyFooterHeight: 100px;
$loading-speed: .8s;

@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.story {
  max-width: 375px;
  overflow: hidden;
  height: 667px;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;

  &__header {
    padding: 8px 12px 13px 12px;
    position: sticky;
    top: 0;
    width: 100%;
    height: $storyHeaderHeight;
    border-bottom: 1px solid #CACACA;

    .avatar-component {
      margin-top: 12px;
    }
  }

  &__desc {
    overflow-y: auto;
    padding:0 15px 24px 18px;

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & > svg {
        color: #31AE54;
        width: 62px;
        height: 62px;

        animation: spinner-loading linear $loading-speed infinite;
      }
    }

    span {
      font-weight: bold;
    }

    .story__text:not(:first-child) {
      margin-top: 14px;
    }
  }

  &__desc {
    height: calc(100% - #{$storyHeaderHeight} - #{$storyFooterHeight});
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $storyFooterHeight;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #CACACA;
  }
}
