<li class="story-container">
    <div class="story" :class="activeStory ? 'active' : ''">
        <div class="story__header">
            <progress-line
                    :active-line="activeStory"
            />
            <avatar
                    :title="titleStory"
                    :src="avatarSrc"
                    alt="image"
            />
        </div>
        <div class="story__desc">
            <div v-if="loadingSpinner" class="spinner">
                <icon name="spinner" />
            </div>
            <div class="story__content"  v-else-if="texts">
                <img src="../../assets/img/story__img.jpg" alt="story image">
                <p class="story__text" v-html="texts" />
            </div>
            <placeholder v-else :amount="2"/>
        </div>
        <div class="story__footer">
            <x-button :defaultText="defaultText" :hoverText="hoverText" />
        </div>
    </div>
    <div v-if="activeStory">
        <a href="#" class="btn btn-prev" @click.prevent>
            <icon name="arrowSlide" />
        </a>
        <a href="#" class="btn btn-next" @click.prevent>
            <icon name="arrowSlide" />
        </a>
    </div>
</li>
