<main class="stories-container">
    <pre v-if="repos.loading">loading stories...</pre>
    <pre v-else-if="repos.error">{{repos.error}}</pre>
    <ul class="stories" v-else>
        <full-stories
                v-for="n in repos.data"
                :key="n"
                :default-text="defaultText"
                :hover-text="hoverText"
                :title-story="n.owner.login"
                :active-story="activeStory"
                :loading-spinner="repos.loading"
                :avatar-src="n.owner.avatar_url"
                :texts="n.description"
        />
    </ul>
</main>
