.progress {
  width: 100%;
  height: 2px;
  background: rgba(49, 174, 84, 0.3);
  border-radius: 1px;
  position: relative;
  overflow: hidden;

  .progress__line {
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #31AE54;
  }

  &.active {
    .progress__line {
      width: 100%;
      transition: 5s;

    }
  }
}
