<div class="framework">
    <h2 class="framework__name">{{title}}</h2>
    <h4 class="framework__desc" v-html="desc"></h4>

    <div class="utils">
        <div class="util star">
            <a href="#" class="util__name" @click.prevent="$emit('change', 'star')">
                <img src="../../assets/icons/star.svg" alt="star" class="util__icon">
                <h5 class="util__title">Star</h5>
            </a>
            <div class="util__num">{{stars}}</div>
        </div>
        <div class="util fork">
            <a href="#" class="util__name" @click.prevent="$emit('change', 'fork')">
                <img src="../../assets/icons/fork.svg" alt="fork" class="util__icon">
                <h5 class="util__title">Fork</h5>
            </a>
            <div class="util__num">{{forks}}</div>
        </div>
    </div>
</div>
