<div class="framework">
    <h2 class="framework__name">{{frameworks[random(3)]}}</h2>
    <h4 class="framework__desc" v-html="desc[random(3)]"></h4>

    <div class="utils">
        <div class="util star">
            <a href="#" class="util__name">
                <img src="../../assets/icons/star.svg" alt="star" class="util__icon">
                <h5 class="util__title">Star</h5>
            </a>
            <div class="util__num">{{random(300)}}k</div>
        </div>
        <div class="util fork">
            <a href="#" class="util__name">
                <img src="../../assets/icons/fork.svg" alt="fork" class="util__icon">
                <h5 class="util__title">Fork</h5>
            </a>
            <div class="util__num">{{random(20)}}</div>
        </div>
    </div>
</div>
