$fifty: 32px;

.avatar-component {
  display: flex;
  align-items: center;

  &__username {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 18px;
  }

  &__button {
    margin-left: 10px;
    border: 1px solid red;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: #fd5b5b;
    z-index: 0;

    &:hover {
      cursor: pointer;
      background-color: #e72828;
    }
  }
}

.image {
  height: $fifty;
  width: $fifty;
  border-radius: 50%;
  z-index: -1;
}

.img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.bordered {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 22px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 22px 5px rgba(0,0,0,0);
}

