@import "~reseter.css/src/scss/minireseter";

a {
  text-decoration: none;
  color: black;

  &:active {
    color: black;
  }
}

html, body {
  font-family: 'Inter', sans-serif;
}

#app {
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.x-container {
  width: 1200px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.d-none {
  display: none;
}
